$black-color: #000000;
$dark-gray-color: #343539;
$gray-color: #4B4B4F;
$gray-color-minus:#56555A;
$dark-gray-color-less: #717174;
$light-gray-color-darker: #828186;
$light-gray-color: #717174;
$light-gray-color-lightner: #CFCFCF;

$white-color: #FFFFFF;
$red-color: #EF483E;

$desktop-width: 1920px;
$mobile-width: 375px;